<mat-grid-list cols="3" rowHeight="1:1" [gutterSize]="'1em'">
    <mat-grid-tile class="cards" *ngFor="let pokemon of pokemonData"  (click)="getPokemonId(pokemon)">
        <div class="pokemonName"><h1>{{pokemon.name}}</h1></div>
    <img class="images" [src]="pokemon.avatar" alt="" srcset="" width="100px">
        </mat-grid-tile>
  </mat-grid-list>






