@import '../../../assets/stylingConstant.scss';



mat-grid-list{
    width: 80%;
    margin:0 auto;
}
.cards{
    background-color: yellow;
    display:grid;
    grid-template-columns: auto auto ;
    margin:1em 1em 1em 1em;
  
}
.pokemonName{
    background-color:yellow;
    position: relative;
    text-align: center;
    position: absolute;
    top:0px;
}
.images{
    background-color: blue;
}

