@import '../../../assets/stylingConstant.scss';
h1{
    border:0;
    margin:0;
}
header{
    margin:0;
    padding:0;
    border:0;
    width:100%;
    display: block;
    background-color:$pokemonreddark;
    color: $pokemonBrightYellow;
    font-family: 'Anton', sans-serif;
    text-align: center;
}
