<app-header></app-header>
<h1>Welcome {{trainer.name}}</h1>
<h2>List of your current pokemons:</h2>
<img class="images" src="https://pokeres.bastionbot.org/images/pokemon/1.png" alt="" srcset="" width="100px">
<mat-grid-list cols="3" rowHeight="1:1" [gutterSize]="'1em'">
    <mat-grid-tile class="cards" *ngFor="let index of [pokemonData]">
     <h1>{{index}}</h1>
        </mat-grid-tile>
  </mat-grid-list>
<button (click)="goToPokemonList()">Go to pokemon library to catch more</button>