.trainer-name-container{
    text-align: center;
    margin-top:20%;
    display:grid;
    grid-template-columns: auto  ;
    position: relative;
    gap:1em ;
    font-size:1em;}
label{
}
input{
    margin-top:2em;
    width:20%;
    text-align: center;
    margin:0 auto;
}
button{
    width:20%;
    margin:0 auto;
}