<app-header></app-header>
<form>
    <div class="trainer-name-container">
        <label for="trainer-name">Trainername </label>
        <input type="text" name="trainerName" id="trainerName" placeholder="Your Trainername" [(ngModel)]="trainer.name">
        <button (click)="onRegisterClicked()" type="button" [disabled]="isLoading" >Start your adventure</button>
    </div>
    <div class="isRegistering" *ngIf="isLoading">
        <p>Registering</p>
    </div>
    </form>
