@import '../../../assets/stylingConstant.scss';
*{
    text-transform: capitalize;
}
mat-card{
    margin:0 auto;
    justify-content: center;
}
.card{
    width: 40%;
    margin-top:20px;
    background-color: $pokemonred;
}
img{
    display: block;
    height:300px;
    width:auto;
    justify-content: center;
    margin:0 auto;
text-align: center;}

.mat-card-header{
    background-color: $pokemonBrightYellow;
    padding-top:10px;
    border-radius: 10px;
    justify-content: center;}
    
.mat-card-header .pokemon-title #pokemon-id{
justify-content: right;   



background-color: $pokemonred;
border-radius: 50%;}

.mat-card-subtitle{
    color:$pokemonblue;
}
.mat-chip{
    background-color: $pokemonblue;
    color:$pokemonBrightYellow;
}
p{
    width: 40%;
    display: block;
    margin:0 auto;
    text-align:center;
    
}
.abilities-pokemon{
    width: 93%;
    text-align: center;
    align-items: center;
    font-size:70%;
}

.moves-pokemon{
    width:93%;
    text-align: center;
    align-items: center;
}
.moves-pokemon:hover{
    cursor: pointer;
}
.mat-menu-item{
    line-height:35px;
  }
  ::ng-deep .mat-menu-content {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  
  .mat-menu-item{
    line-height:35px;
    height:35px;
    width:50%;
  }