<mat-card class="card">
    <mat-card-header>
      <mat-card-title class="pokemon-title"><span id="pokemon-name">{{pokemon.name}}</span><span id="pokemon-id">{{pokemon.id}}</span></mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{pokemonImage}}" alt="Pokemon">
    <mat-card-content>
     <mat-chip-list>
        <mat-chip color="primary" selected> Type:<p *ngFor="let data of pokemon.types">{{data.type.name}}</p> </mat-chip>
        <mat-chip color="primary" selected>Height: {{pokemon.height}}</mat-chip>
        <mat-chip color="primary" selected>Weight: {{pokemon.weight}}</mat-chip>
        <mat-chip class="abilities-pokemon" color="primary" selected>Abilities:<span>&nbsp;</span><p *ngFor="let data of pokemon.abilities">{{data.ability.name}}<span>&nbsp;</span></p></mat-chip>
        <mat-chip class="moves-pokemon" color="primary" selected [matMenuTriggerFor]="menu">Moves:</mat-chip>
        <mat-menu #menu="matMenu" yPosition="above">
        <button mat-menu-item *ngFor="let data of pokemon.moves">{{data.move.name}}</button>
      </mat-menu>
     </mat-chip-list>
    </mat-card-content>
  </mat-card>
  <div class="catch-pokemon">
      <button (click)="catchPokemon()" >Catch this pokemon</button>
  </div>

<!--
<mat-card class="pokemoncard">
    <mat-card-header>
        <mat-card-title>{{pokemon.name}}</mat-card-title>
        <mat-card-subtitle>Number: {{pokemon.id}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{pokemonImage}}" alt="Pokemon">
    <mat-card-content>
        <mat-chip-list>
        <mat-chip color="primary" selected>Type:{{pokemon.name}}</mat-chip>
        <mat-chip color="primary" selected>Height:{{pokemon.height}} </mat-chip>
        <mat-chip color="primary" selected>Weight:{{pokemon.weight}}</mat-chip>
    </mat-chip-list>
    </mat-card-content>
</mat-card>
-->